*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
    background-color:blue;
  display: flex;
  width: 50%;
  
  border: 2px solid black;
}
#citysearch{
    display: block;
    border: 2px solid black;

}

#weatherbox{
   
    border: 2px solid black;

}


.forecastbox{
    
    border: 2px solid black;

}
.card1, .card2, .card3, .card4, .card5{
border: 2px solid black;

}
