*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
display: grid;
grid-template-areas: 
"header"
"main aside"
"footer footer";
}


.header {
    background-color:blue;
  grid-area: "header";
  border: 2px solid black;
  position:relative;

}
#citysearch{
    grid-area: "main";
    border: 2px solid black;

}

#weatherbox{
    grid-area: "aside";
    border: 2px solid black;

}


.forecastbox{
    grid-area: "footer";
    border: 2px solid black;

}
.card1, .card2, .card3, .card4, .card5{
border: 2px solid black;
display: inline-block;
}
